# Normalize line endings
* text=auto

# Godot files
*.gd text
*.cs text
*.tscn text
*.tres text
*.cfg text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
